html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  width: 100vw; /* Ensures full viewport width */
}

.header {
  background: #000000;
  padding: 17px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 0.5px solid white;
  font-family: "CustomFont";
}

.logo img {
  height: 30px;
  padding-left: 100px;
}

/* New container for nav and button */
.navContainer {
  display: flex;
  align-items: center;
  margin-right: 100px; /* Reduce the margin to decrease the gap */
}
.buttonDiv {
  margin-left: -30px; /* Use a negative margin to pull the button closer to the list items */
}
nav {
  padding-right: 0px !important; /* Ensures space between list items and button */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  padding-bottom: 3px;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
}


.btnh {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.btnh:hover {
  background-color: rgb(146, 103, 216);
}

.navItem a,
.dropdownTrigger > .navLink {
  color: white; 
  text-decoration: none;
  font-size: 16px;
  position: relative;
  padding-bottom: 3px;
  cursor: pointer;
}

.navItem a::after,
.dropdownTrigger > .navLink::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width 0.3s ease-in-out;
}

.navItem a:hover::after,
.dropdownTrigger:hover > .navLink::after {
  width: 100%;
}

.dropdownMenu {
  margin-top: 7px;
  display: none;
  position: absolute;
  top: 100%; /* Position the dropdown directly below the parent */
  left: 0; /* Align the dropdown with the left edge of the parent */
  background: white;
  min-width: 230px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  border-radius: 4px; /* Rounds the corners */
  border: 3px solid #000000; /* Adds a light gray border */
  padding: 5px 0;
  z-index: 1000;
  list-style: none;
}

.dropdownTrigger:hover .dropdownMenu {
  display: block; /* Show the dropdown menu on hover */
}

.dropdownItem {
  padding: 0;
  margin: 0;
  display: block;
  color: black;
}

.dropdownLink {
  color: black !important;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  transition: background 0.2s;
  margin: 0;
}

.dropdownLink:hover {
  background: #f0f0f0; /* Light gray background on hover */
}