@font-face {
    font-family: "CustomFont";
    src: url("./assets/fonts/Belgiano Serif 2.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
.Laundry{
  background-color: white;
}
/* Main Layout */
  .mainContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
  }
  
  .mainHeading {
    text-align: center;
    font-family: "CustomFont", Arial, sans-serif;
    font-size: 50px;
    margin: 20px 0;
    color: #000000;
    margin-top: 100px;
    background-color: white;
  }
  
  
  /* Left Section */
  .leftSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
  }
  
  /* Right Section */
  .rightSection {
    width: 50%;
  }
  
  /* Box Styling */
  .box {
    background: #FCF2EF;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    text-align: center;
  }
  
  /* Custom font for titles */
  .customTitle {
    font-family: "CustomFont", Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 25px;
    color: #000000;
  }
  
  /* Feedback Input */
  .feedbackInput {
    width: 90%;
    height: 100px;
    border: 2px solid #888;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    resize: none;
  }
  
  /* Submit Button */
  .submitButton {
    background: rgb(146, 103, 216);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 4px 4px black;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  }
  
  .submitButton:hover {
    background: #6a28d9;
  }
  
  .submitButton:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px black
  }
  
  .cancelButton {
    background: #e87d79; /* Red color for cancel */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 4px 4px black;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  }
  
  .cancelButton:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px black;
  }
  
  .cancelButton:hover {
    background: #d34c45;
  }
  
  
  