 /* Main Layout */
  .main-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
  }
  
  .main-heading {
    text-align: center;
    font-family: "CustomFont", Arial, sans-serif;
    font-size: 50px;
    margin: 20px 0;
    color: #000000;
    margin-top: 100px;
  }
  
  
  /* Left Section */
  .left-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
  }
  
  /* Right Section */
  .right-section {
    width: 50%;
  }
  
  /* Box Styling */
  .box {
    background: #FCF2EF;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    text-align: center;
  }
  
  /* Custom font for titles */
  .custom-title {
    font-family: "CustomFont", Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 25px;
  }
  
  /* Poll Options */
  .poll-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .poll-button {
    background: white;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    box-shadow: 4px 4px black;
  }
  
  .poll-button:hover {
    background: rgb(146, 103, 216);
  }
  
  .poll-button:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px black;
  }
  
  /* Feedback Input */
  .feedback-input {
    width: 90%;
    height: 100px;
    border: 2px solid #888;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    resize: none;
  }
  
  /* Submit Button */
  .submit-button {
    background: rgb(146, 103, 216);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 4px 4px black;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  }
  
  .submit-button:hover {
    background: #6a28d9;
  }
  
  .submit-button:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px black
  }
  
  .button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .cancel-button {
    background: #e87d79; /* Red color for cancel */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 4px 4px black;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  }
  
  .cancel-button:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px black;
  }
  
  .cancel-button:hover {
    background: #d34c45;
  }
  
  
  